.jumbotron {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}

.main {
    padding: 40px 0;
    background-color: #d3d3d3;
}
   
.main h1 {
    color: #F65A5B ;
    font-size: 64px;
    margin: 40px 0 40px 0;
    padding: 20px 0;
    line-height: 60px;
    width: 100%;
}

.thumbnail {
    border: 0px;
    position: relative;
    background-color: #ffffff;
    height: 750px;
    padding: 50px;
      border-radius: 0;
      margin-bottom:50px;
   }
   
   .thumbnail img {
      margin-top: 10px;
    margin-bottom: 30px;
    max-width: 100%;
   }

   .title,
   .date {
    color: #444;
    margin: 0;
    font-size: 18px;
      font-weight: 800;
   }
   
   .date {
      color: #a3a3a3 ;
      font-size: 14px;
      font-weight: 200;
   }
   
   .price {
    background-color: #39D1B4 ;
    color: #fff;
    font-size: 14px;
      border-radius: 50%;
      box-shadow: 0 2px 5px rgba(0,0,0,0.2);
      font-weight: 200;
      height: 80px;
      line-height: 80px;
      text-align: center;
      width: 80px;
    position: absolute;
    top: -40px;
    right: 20px;
   }